<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" media="all" th:href="@{/css/style.css}" />
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<title>「〇×クイズ」アプリ</title>
</head>
<body>
	<div class="center">
		<h1>
			<i class="far fa-lightbulb"></i><span>「〇×クイズ」アプリ：CRUD</span>
		</h1>
		<h2 th:text="${title}">タイトル</h2>
		<p th:if="${complete}" th:text="${complete}" style="color: blue"></p>

		<form method="POST"
			th:action="${quizForm.newQuiz}? @{/quiz/insert} : @{/quiz/update}"
			th:object="${quizForm}" th:onSubmit="${quizForm.newQuiz} ? 'return confirmDialog(0)' : 'return confirmDialog(1)'">
			<div class="container">
				<div class="question_label">
						<label>クイズの内容：</label>
				</div>
				<div class="question_input">
					<textarea class="input" rows="5" cols="30" th:field="*{question}"></textarea>
						<br>
						<div th:if="${#fields.hasErrors('question')}"
							th:errors="*{question}" style="color: red"></div>
				</div>
				<div class="answer_label">
						<label>クイズの解答：</label>
				</div>
				<div class="answer_input">
					<input class="input" type="radio" value="true"
							th:field="*{answer}">「〇」 
					<input class="input"
							type="radio" value="false" th:field="*{answer}">「×」 <br>
						<div th:if="${#fields.hasErrors('answer')}" th:errors="*{answer}"
							style="color: red"></div>
				</div>
				<div class="author_label">
						<label>作成者：</label>
				</div>
				<div class="author_input">
					<input class="input" type="text" th:field="*{author}" />
						<br>
						<div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
							style="color: red"></div>
				</div>
				<div class="send">
					<input th:if="${id}" type="hidden" th:field="*{id}"/>
					<input class="btns submit" type="submit" value="送信"/>
				</div>

			</div>

		</form>

	</div>
	<br>
	<div class="center">
		<div th:if="${quizForm.newQuiz}" style="margin: 10px">
			<h3>
				登録クイズ一覧：<a th:href="@{/quiz/play}">プレイ</a><br>
			</h3>
			<p th:if="${delcomplete}" th:text="${delcomplete}"
				style="color: blue"></p>
			<p th:if="${msg}" th:text="${msg}" style="color: red"></p>
			<table  class="styled-table" th:unless="${#lists.isEmpty(list)}">
				<thead>
					<tr>
						<th>ID</th>
						<th>内容</th>
						<th>解答</th>
						<th>作成者</th>
						<th>編集</th>
						<th>削除</th>
					</tr>
				</thead>
				<tr th:each="obj : ${list}" align="center">
					<td th:text="${obj.id}"></td>
					<td th:text="${obj.question}" align="left"></td>
					<td th:text="${obj.answer} == true?'〇':'×'"></td>
					<td th:text="${obj.author}"></td>

					<td>
						<form method="GET" th:action="@{/quiz/{id}(id=${obj.id})}" >
							<input class="btns submit" type="submit" value="編集">
						</form>
					</td>

					<td>
						<form method="POST" th:action="@{/quiz/delete}"  th:onSubmit="return confirmDialog(2);">
							<input type="hidden" name="id" th:value="${obj.id}">
							<input class="btns submit" type="submit" value="削除">
						</form>
					</td>
				</tr>

			</table>
<!-- 以降がページネーション部分 -->
<div>
  <ul>
    <li style="display:inline;">
      <span th:if="${page.first}">&lt;&lt;前</span>
      <a th:if="${!page.first}" th:href="@{''(page=0)}">
        &lt;&lt;前
      </a>
    </li>
    <li th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}"
      style="display:inline; margin-left:10px;">
      <span th:if="${i} == ${page.number}" th:text="${i + 1}">1</span>
      <a th:if="${i} != ${page.number}" th:href="@{''(page=${i})}">
        <span th:text="${i+1}">1</span>
      </a>
    </li>
    <li style="display:inline; margin-left:10px;">
      <span th:if="${page.last}">次&gt;&gt;</span>
      <a th:if="${!page.last}" th:href="@{''(page=(${page.totalPages}-1))}">
        次&gt;&gt;
      </a>
    </li>
  </ul>
</div>

			<p th:if="${#lists.isEmpty(list)}">登録されているクイズはありません。</p>
			
		</div>

		<p th:unless="${quizForm.newQuiz}">
			<a href="#" th:href="@{/quiz}">CRUD画面へ戻る</a>
		</p>
	</div>
</body>
</html>